# Secrets
.env

# Chroma Vectorstore
chroma_db/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/

# Jupyter Checkpoints
.ipynb_checkpoints/

# IDE/Editor
.vscode/
.idea/

# Logs
*.log